.button{
    padding: 10px 20px;
    border-radius: 5px;

}

.light{
    background-color: var(--light-dim);
    color: black;
}

.dark{
    background-color: var(--dark-dim);
    color: white;
}

:disabled{
    opacity: 0.5;
}